<!DOCTYPE html>

<!-- Header -->
<header class="container">
	<style>
	.conditionsactive {
		border-bottom: 0 !important;
	}
	</style>
	<hgroup>
		<h1><a href="/" class="brand">&#9960; Fotodenuncia</a></h1>
		<h2>cuando indignarse no es suficiente: ¡actúa!</h2>
	</hgroup>
	<!-- Navigation -->
	<nav role="sitenav">
		<ul>
			<li><a href="index" aria-current="page">denuncia</a></li>
			<li><a href="help">ayuda</a></li>
		</ul>
		<ul>
			<li><a href="#" id="theme_switcher" class="theme">&#9680;</a></li>
		</ul>
	</nav>
	<!-- ./ Navigation -->
	<!-- Templates -->
	<template id="tpl-citation">
		<hgroup>
		<h3>cómo citar</h3>
		<h4>una guía para citar correctamente la fuente al utilizar los datos proporcionados por <span class="brand">&#9960; Fotodenuncia</span></h4>
		</hgroup>
		
		<p>
			Aunque el contenido de la información que <span class="brand">&#9960; Fotodenuncia</span> presenta puede utilizarse bajo licencia Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0), precisamente por sus condiciones el licenciatario que utilice el contenido debe dar crédito a la autoría del mismo.
		</p>
		<p class="mb-10">
			A continuación se sugiere una posible redacción de dicho crédito. Puede utilizar tanto esta como cualquier variante referencial internacionalmente reconocida (APA, Chicago, MLA, Harvard, Turabian, ISO 690, etc.).
		</p>
		<blockquote>
${title}. Supervisión de datos por el equipo de investigación del proyecto Patrimonio Herido. 
⛨ Fotodenuncia [Nuria Rodríguez Ortega (dir.),Antonio Cruces Rodríguez].
iArtHis_Lab (UMA). 
Accesible en: ${location} [Consultado: ${datetime}].
		</blockquote>
	</template>
	<!-- ./ Templates -->
</header>
<!-- ./ Header -->
