<!DOCTYPE html>

<!-- Footer -->
<footer class="container">
	<p>
		<span>&copy; <span id="copyrightyear">2024</span></span>
		<a href="https://iasd.iarthislab.eu" target="_blank" rel="external">iASD</a>
		<a href="https://iarthislab.es" target="_blank" rel="external">iArtHis_LAB</a>
		<a href="#" role="help" data-title="Código QR" data-content="qrgenerator">QR</a>
		<a href="#" role="pagedata">info</a>
		<a href="#" role="citation">cita</a>
		<small class="muted" id="timer">&hellip;</small>
	</p>
</footer>
<!-- ./ Footer -->
